body {
    font-family: 'Archivo', sans-serif;
    background: url('../static/wallpaper.png') no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
#head{
    margin-top: 1%;
    text-align: center;
    color: rgba(172,36,77,0.8);
    font:normal 3.8vw Lucida Sans Unicode,Lucida Grande,sans-serif;
}
#head2{
    margin-top:-2%;
    margin-bottom: -8%;
    text-align: center;
    color: rgba(16,47,92,0.9);
    font:normal 1.95vw Lucida Sans Unicode,Lucida Grande,sans-serif;
}
.info,.image{
    display: inline;
}
.image{
    float:right;
    margin-bottom: 100px;
}
.info{
    float: left;
    font-size: 120%;
    border:2px solid black;
    width: auto;
    margin-bottom: 100px;
}
fieldset{
    border-color: black;
}
.button {
    width: 200px;
    margin: 150px auto;
    margin-bottom: 50px;
}
.button a {
    display: block;
    height: 50px;
    width: 200px;
    color: white;
    font: 17px/50px Helvetica, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3));  
}

.button a, p {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.bottom{
    background: #222;
    display: block;
    height: 40px;
    width: 180px;
    margin: -50px 0 0 10px;
    text-align: center;
    font: 12px/45px Helvetica, Verdana, sans-serif;
    color: #fff;
    position: absolute;
    z-index: -1;
    -webkit-transition: margin 0.5s ease;
    -moz-transition: margin 0.5s ease;
}

.button:hover .bottom { margin: -10px 0 0 10px }


.button a:active {
    background: #00b7ea;
    background: -moz-linear-gradient(top,  #00b7ea 36%, #009ec3 100%);
    background: -webkit-linear-gradient(top,  #00b7ea 36%,#009ec3 100%);
}

.button:active .bottom { margin: -20px 0 0 10px }

.button:active .top { margin: -70px 0 0 10px }