 <!DOCTYPE html>
<html lang="en">
<head>
    <title>Proxy Master</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
	<h1 id="head">Proxy Master</h1>
	<h2 id="head2">One Script to Set It All!</h2>
	<div class="button">
        <a href="../static/set_proxy-master.sh" download="set_proxy.sh">Download</a>
        <p class="bottom">set_proxy-master.sh</p>
    </div>
    <div class="info">
    	<h3 style="text-align: center;">Instructions</h3>
    	<ol>
    		<li>Open the downloads directory in a terminal window.</li>
    		<li>Execute <b><em>sudo bash set_proxy-master.sh</em></b> and enter the password.</li>
    		<li>Enter the proxy host and port on prompt. <em><b>(172.16.2.30:8080 for KGP)</b></em></li>
        </ol>
        <h3 style="text-align: center;">Going Home?</h3>
        <ul>
            <li>Execute <b><em>sudo bash set_proxy-master.sh --unset</em></b> and enter the password. </li>
        </ul>
        <h3 style="text-align: center;">Still Need To Manually Set Proxy On:</h3>
        <ul>
            <li>Some Users might need to change Settings->Network->Proxy to Manual from Off.</li>
        </ul>
    </div>
    <div class="image">
    	<fieldset>
    		<p style="font-size: 120%"><b>To Set Proxy:</b></p>
    		<img src="../static/top.png">
        	<p style="font-size: 120%"><b>To Unset Proxy:</b></p>
        	<img src="../static/bottom.png">
        </fieldset>
    </div>
    <br><br>
    <div style="text-align: center; margin-left: auto; margin-right: auto;font-size: 135%; bottom: 10%; position: absolute; display:block; width: 100%;">Contribute to this project on <a href="https://github.com/CodeStash-KGP/set_proxy" target="_blank">Github</a> | Powered by <a href="https://www.facebook.com/codestashkgp/" target="_blank">MetaKGP</a> with ♥</div>
</body>

</html>
