 <!DOCTYPE html>
<html lang="en">
<head>
    <title>Proxy Master</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=KoHo" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" type="text/css" href="../static/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/-debug.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/article.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/article-figure.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/article-text.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/article-share.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
</head>

<body>
	<h1 id="head">Proxy Master</h1>
	<h2 id="head2">One script to set it all!</h2>
	<div class="button">
        <a href="../static/set_proxy.sh" download="set_proxy.sh">Download</a>
  </div>
  <div class="bottom">
      <p>set_proxy.sh</p>
  </div>
  <article id="instruction">
    <h1><a class="underline" href="#instruction">Instructions</a></h1>

    <h2>To set proxy:</h2>
    <p>
      1. Open the downloads directory in the terminal<br>
      2. Execute <strong>sudo bash set_proxy.sh -h [PROXY HOST] -p [PROXY PORT]</strong><br>
      3. Enter <em>proxy host</em> (<strong>172.16.2.30</strong> for KGP) and <em>proxy port</em> (<strong>8080</strong> for KGP)
    </p>
    <div class="code">
      <p>$ sudo bash set_proxy.sh -h 172.16.2.30 -p 8080</p>
    </div>

  	<h2>To unset proxy:</h2>
  	<p>
      1. Open the downloads directory in the terminal<br>
  		2. Execute <strong>sudo bash set_proxy.sh -u</strong>
  	</p>
    <div class="code">
      <p>$ sudo bash set_proxy.sh -u</p>
    </div>

    <h2>Known Issues:</h2>
  	<p>
  		Some Users might need to change <strong>Settings->Network->Proxy</strong> from <strong>Off</strong> to <strong>Manual</strong>.
  	</p>
    <div class="share">
      <a href=""><img src="../static/img/facebook.svg" alt=""></a>
      <a href=""><img src="../static/img/twitter.svg" alt=""></a>
      <a href=""><img src="../static/img/github.svg" alt=""></a>
    </div>
  </article>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
  <script src="../static/scripts/index.js" charset="utf-8"></script>

</body>

<footer class="footer">
  <span class="toplink"><a href="#instruction">⬆</a></span>
  <div class="footer-note">
    Contribute to this project on <a class="underline" href="https://github.com/CodeStash-KGP/set_proxy" target="_blank">Github</a> | Powered by <a class="underline" href="https://www.facebook.com/codestashkgp/" target="_blank">MetaKGP</a> with ♥
  </div>
</footer>

</html>
