body {
    font-family: 'Archivo', sans-serif;
     background: hsl(230, 100%, 67%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;

}
#head{
    margin-top: 1%;
    text-align: center;
    color: white;
    font:normal 3.8vw Lucida Sans Unicode,Lucida Grande,sans-serif;
    margin-bottom: 10px;
}
#head2{
    margin-bottom: 10px;
    text-align: center;
    color: rgba(255,255,255,0.6);
    font:normal 1.95vw Lucida Sans Unicode,Lucida Grande,sans-serif;
}


.button {
    width: 200px;
    margin: 0px auto;
    margin-bottom: 40px;
    padding-top: 2%;
}
.button a {
    display: block;
    height: 50px;
    width: 200px;
    color: white;
    font: 17px/50px Helvetica, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3));
}

.button a, p {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    display: block;
}

.bottom{
    background: #222;
    display: block;
    height: 40px;
    width: 180px;
    margin: -50px 0 0 10px;
    text-align: center;
    font: 12px/45px Helvetica, Verdana, sans-serif;
    color: #fff;
    position: absolute;
    z-index: -1;
    -webkit-transition: margin 0.5s ease;
    -moz-transition: margin 0.5s ease;
}

.button:hover .bottom { margin: -10px 0 0 10px }


.button a:active {
    background: #00b7ea;
    background: -moz-linear-gradient(top,  #00b7ea 36%, #009ec3 100%);
    background: -webkit-linear-gradient(top,  #00b7ea 36%,#009ec3 100%);
}

.button:active .bottom { margin: -20px 0 0 10px }

.button:active .top { margin: -70px 0 0 10px }

.footer{

  color: white;
  text-align: center;
  height: 25px;
  font-size: 95%;
  position: absolute;
  width: 100%;
  clear: both;
}
